@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
*, body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #1f1f1f;
    padding: 12px;
    position: sticky;
    z-index: 100;
    top: 0;
    /* border-radius:8px 8px 0px 0px ; */
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 12px;
}
ul li a{
    color: white;
    text-decoration: none;
}

#hero-section{
    background-image: url(https://images.unsplash.com/photo-1512149673953-1e251807ec7c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
height: 100vh;
color: white;
display: flex;
background-size: cover;
background-attachment: fixed;
background-position: center;
overflow: hidden;
justify-content: center;
align-items: center;
flex-direction: column;
}
.text-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    padding: 12px 34px;
    font-size: 15px;
    margin-top: 20px;
    transition: all ease-in-out 1s;
}
.btn:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.font-30{
    font-size: 30px;
}
#services{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-box{
    display: flex;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: lightgreen;
    margin: 12px;
    border-radius: 8px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.box img{
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
    width: 400px;
}

#about-section{
    text-align: center;
    
    margin-top: 30px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

footer{
    background-color: #1f1f1f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 10px;
    margin-top: 20px;
}

@media screen and (max-width:1365px) {
    .main-box{
        flex-direction: column;
    }
    .text-btn h1{
        text-align: center;
    }
    ul{
        justify-content: center;
    }
    #about{
        text-align: center;
    }
}/**